@import '~antd/dist/antd.css';

body {
	background-color: #f0f2f5
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo {
  height: 32px;
  font-size: 1.25em;
  #background: rgba(255,255,255,.2);
  margin: 16px;
  color: #fff;
}

.image {
	max-width: 255px;
	max-height: 177px;
}

#logo {
    overflow: hidden;
    padding-left: 16px;
    float: left;
    line-height: 64px;
    text-decoration: none;
    height: 64px;
	font-size: 1.87em;
}

.header-meta {
	padding-right: 40px;
}

#header {
    -webkit-transition: all .3s;
    transition: all .3s;
    background: #fff;
    -webkit-box-shadow: 0 2px 8px #f0f1f2;
    box-shadow: 0 2px 8px #f0f1f2;
    position: relative;
    z-index: 10;
    max-width: 100%;
}

#nav {
    border: 0;
    float: right;
    font-size: 14px;
    font-family: Lato,Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#menu {
  float: right;
  overflow: hidden;
  height: 64px;
}
#menu .ant-menu {
  line-height: 60px;
}
#menu .ant-menu-horizontal {
  border-bottom: none;
}
#menu .ant-menu-horizontal > .ant-menu-item {
  border-top: 2px solid transparent;
}
#menu .ant-menu-horizontal > .ant-menu-item:hover {
  border-top: 2px solid #1890ff;
  border-bottom: 2px solid transparent;
}
#menu .ant-menu-horizontal > .ant-menu-item-selected {
  border-top: 2px solid #1890ff;
  border-bottom: 2px solid transparent;
}
#menu .ant-menu-horizontal > .ant-menu-item-selected a {
  color: #1890ff;
}

.nav-phone-icon {
  display: block;
  position: absolute;
  right: 25px;
  top: 20px;
  z-index: 1;
  width: 16px;
  height: 22px;
  cursor: pointer;
}

/* RWD menu */

@media only screen and (max-width: 767.99px) {
  #header {
    /*text-align: center;*/
  }
  #header #logo {
    float: initial;
  }
  .popover-menu {
    width: 300px;
  }
  .popover-menu div.version {
    margin: 16px auto;
  }
  .popover-menu .ant-popover-inner {
    overflow: hidden;
  }
  .popover-menu .ant-popover-inner-content {
    padding: 0;
  }
  .popover-menu .ant-popover-inner-content .ant-select {
    width: 60%;
    display: block;
  }
  .popover-menu .ant-popover-inner-content .ant-btn {
    margin: 16px 8% 0 8px;
  }
  .popover-menu #nav a.header-link {
    color: #333;
  }
}

img {
	border: 1px solid #ddd;
	padding: 5px;
}

.ant-layout-sider {
	margin-top: 24px;
}

.demo-loading {
  position: absolute;
  bottom: -40px;
  left: 50%;
}
